.list {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 10px 40px;
	flex-wrap: wrap;
}

.item {
	width: 300px;
	padding: 0 15px;
	border: 1px solid #fefefe;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
